<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.pub.acs.acs_upb_mobile">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- This is necessary because professor pictures from aii.pub.ro are under
         http, not https
    -->
    <application android:usesCleartextTraffic="true" />
</manifest>
