gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Ignore Android keys
# Used tutorial here: https://joshuamdeguzman.com/continuous-delivery-for-flutter-using-fastlane-and-github-actions-pt-2-android/
key.jks
key.properties
service_account_key.json
android_keys.zip

# Ignore generated Unity files for now
unityLibrary
