# Trigger workflow on tag created in master branch
on:
  push:
    tags:
    - 'v*'

name: Deployment

jobs:
  rules:
    name: Deploy Firebase/Storage rules
    runs-on: ubuntu-latest
    if: github.repository == 'student-hub/acs-upb-mobile'

    steps:
    - uses: actions/checkout@v1
    - uses: w9jds/firebase-action@master
      with:
        args: deploy --only storage,firestore --project prod
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

  functions:
    name: Deploy cloud functions
    runs-on: ubuntu-latest
    if: github.repository == 'student-hub/acs-upb-mobile'

    steps:
    - uses: actions/checkout@v1
    - name: Write serviceAccountKey.json
      run: echo "$SERVICE_ACCOUNT" >> functions/serviceAccountKey.json
      shell: bash
      env:
        SERVICE_ACCOUNT: ${{secrets.FIREBASE_SERVICE_ACCOUNT}}
    - name: Deploy functions to Firebase
      uses: w9jds/firebase-action@master
      with:
        args: deploy --only functions --project prod
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

  web:
    name: Deploy website
    runs-on: ubuntu-latest
    if: github.repository == 'student-hub/acs-upb-mobile'

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        channel: 'stable'

    - name: Get packages
      run: flutter pub get

    - name: Enable web
      run: flutter config --enable-web

    - name: Run tests
      run: flutter test

    - name: Build web
      run: flutter build web --release

    - name: Fetch time_machine
      run: git clone https://github.com/Dana-Ferguson/time_machine

    - name: Copy time_machine data to the build area
      run: mkdir -p build/web/packages/time_machine/data && cp -R time_machine/lib/data build/web/packages/time_machine

    - name: Deploy to Firebase
      uses: w9jds/firebase-action@master
      with:
        args: deploy --only hosting --project prod
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

  github:
    name: Create GitHub release
    runs-on: ubuntu-latest
    if: github.repository == 'student-hub/acs-upb-mobile'

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        channel: 'stable'

    - name: Get packages
      run: flutter pub get

    - name: Run tests
      run: flutter test

    - name: Decrypt Android keys
      run: sh ./.github/scripts/decrypt_android_secrets.sh
      env:
        ANDROID_KEYS_SECRET_PASSPHRASE: ${{ secrets.ANDROID_KEYS_SECRET_PASSPHRASE }}

    # Apparently there's a known issue where there are some missing files if you don't build the debug/profile version first
    # https://techshits.com/flutter-error-transforms-input-file-does-not-exist/
    - name: Build debug APK
      run: flutter build apk --debug
    - name: Build profile APK
      run: flutter build apk --profile

    - name: Build release APK
      run: flutter build apk --release

      - name: Create a Release APK
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/apk/release/*.apk"
          token: ${{ secrets.RELEASE_TOKEN }}

  android:
    name: Deploy to Google Play
    runs-on: ubuntu-latest
    if: github.repository == 'student-hub/acs-upb-mobile'

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        channel: 'stable'

    - name: Get packages
      run: flutter pub get

    - name: Run tests
      run: flutter test

    - name: Decrypt Android keys
      run: sh ./.github/scripts/decrypt_android_secrets.sh
      env:
        ANDROID_KEYS_SECRET_PASSPHRASE: ${{ secrets.ANDROID_KEYS_SECRET_PASSPHRASE }}

    - name: Build app bundle
      run: flutter build appbundle --release

    - name: Run Fastlane
      uses: maierj/fastlane-action@v1.4.0
      with:
        lane: deploy
        subdirectory: android